html,
body,
#__next {
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.removeScroll {
  overflow-x:hidden;
  overflow-y:hidden;
}
